# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Data & models (too large/should not be committed)
data/*
!data/.gitkeep
data_synthetic/
data_synthetic_split/
models/*.h5
models/*.pt
models/*.pth
!models/.gitkeep

# Notebooks checkpoints
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Env / secrets
.env

# Model weights
models/*.keras

# Dataset
archive/

# Chess engine
engine/

# Streamlit themes
awesome-streamlit-themes/